.search{
    width: 30%;
}
.btn{
    width: 40%;
}
.modal{
    background-color: rgba(0, 0, 0, 0.5);
  }
.card-body{
    width: 350px;
}
// tr {
//     background-color: #fff;
//   }
  
//   /* Set the background color of the row to light gray when the mouse hovers over it */
//   tr:hover {
//     background-color: #eee;
//   }